*{
    margin: 0;
    padding: 0;
    block-size: border-box;
}

.nav-bar1 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    background-color: #75A653;
    padding: 30px;
    position: sticky;
    top: 0px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-bar2 {
    color: white;
    text-decoration: none;
    margin-left: 190px;
}

nav div ul {
    list-style: none;
    display: flex;
    gap: 35px;
    margin-right: 190px;
}

nav div ul li a {
    color: white;
    text-decoration: none;
}

.Container-1 {
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.Container-1 img {
    width: 700px;
    height: 750px;
    padding-right: 220px;
}

.texto-1 {
    width: 70%;
    text-align: justify;
    padding-left: 220px;
    margin-top: 5px;
    padding-bottom: 100px;
}

.subtitulo {
    margin: 220px;
    margin-bottom: 5px;
    margin-top: 130px;
}

.pie {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    background-color: #75A653;
    padding: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-right: 200px;

}

.texto-f {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    margin-left: 190px;
}

.pie div a {
    margin-right: 10px;
    flex-wrap: wrap;
}

/* Biografia */

main h1 {
    background-color: #000000;
    color: white;
    padding-top: 80px;
    padding-left: 220px;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}

.container-bio-1{
    background-color: #000000;
    color: white;
    font-family: "Poppins", sans-serif;
    display: flex;
    text-align: justify;
    padding-top: 40px;
    align-items: center;
}

.container-bio-1 img {
    width: 500px;
    height: 600px;
    margin-right: 20px;
    padding-left: 150px;
}

.container-bio-1 p {
    padding-right: 200px;
}

.container-bio-2 {
    background-color: #000000;
    color: white;
    font-family: "Poppins", sans-serif;
    display: flex;
    text-align: justify;
    padding-top: 40px;
    align-items: center;
}

.container-bio-2 img {
    width: 600px;
    height: 600px;
    margin-left: 20px;
    padding-right: 150px;
}

.container-bio-2 p {
    padding-left: 200px;
}


/* Discografia */

main h1 {
    background-color: #000000;
    color: white;
    padding-top: 80px;
    padding-left: 220px;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}

main h2 {
    background-color: #000000;
    color: white;
    padding-left: 240px;
    padding-top: 20px;
    font-family: "Poppins", sans-serif
}

main section {
    background-color: #000000;
    padding-top: 50px;
}

.album123 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 500px;
    gap: 40px;
    padding-bottom: 40px;
}

.album456 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 500px;
    gap: 40px;
    padding-bottom: 40px;
}