// Main h2 todos
main h2 {
    background-color: $color-segundario;
    color: $color-text;
    padding-left: 240px;
    padding-top: 80px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}